In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("ocorrencia.csv", sep=";", parse_dates=['ocorrencia_dia'])
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-05-01,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-06-01,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-06-01,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-06-01,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-06-01,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

In [14]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [15]:
df.ocorrencia_dia

0      2012-05-01
1      2012-06-01
2      2012-06-01
3      2012-06-01
4      2012-06-01
          ...
5162   2021-12-30
5163   2021-12-31
5164   2021-12-31
5165   2021-12-31
5166   2021-12-31
Name: ocorrencia_dia, Length: 5167, dtype: datetime64[ns]

In [17]:
df.ocorrencia_dia.dt.month

0        5
1        6
2        6
3        6
4        6
        ..
5162    12
5163    12
5164    12
5165    12
5166    12
Name: ocorrencia_dia, Length: 5167, dtype: int64